.search-container {
    max-width: 35%;
}

.search button {
    background-color: var(--tc-green-dark) !important;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.search input {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}