<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cometario</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/globals.css">

</head>

<body>

    <div class="comment hstack py-2">
        <div class="image-perfil  px-3">
            <img src="../images/perfil.jpg" alt="">
        </div>
        <div class="vstack">
            <div>
                <span><b>Bruce Wayne</b></span>
                <small class="px-2">Em 06/07/2022</small>
            </div>
            <div>
                <p>Veio no capricho! Super aprovado!</p>
            </div>
        </div>

    </div>

    <script src="../scripts/bootstrap.bundle.min.js"></script>

</body>

</html>