.card-container {
    width: 100%;
    max-width: 20rem;
}

.card-price {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: var(--tc-green-dark) !important;
}

.card-container img {
    max-width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.badge {
    width: 4rem;
}