<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../../styles/globals.css">
    <link rel="stylesheet" href="./card-produto.css">
</head>
<body>
    <article class="card-container">
        <img src="../../images/pizza.jpg" alt="Pizza">

        <main class="p-4 bg-tc-gray vstack gap-3">
            <section class="hstack align-items-center justify-content-between">
                <h4 class="card-price">R$ 40,00</h4>
                <span>5 x</span>
            </section>
            <section class="vstack gap-2">
                <span>Por Pizzaria Trairi</span>
                <span>Santa Cruz</span>
            </section>
            <hr>
            <section class="vstack gap-1">
                <h6>Aceitamos</h6>
                <div class="w-100 hstack align-items-center justify-content-evenly">
                    <span class="d-flex align-items-center justify-content-center badge bg-success bg-opacity-50 p-2 rounded-2">
                        dinheiro
                    </span>
                    <span class="d-flex align-items-center justify-content-center badge bg-danger bg-opacity-50 p-2 rounded-2">
                        pix
                    </span>
                    <span class="d-flex align-items-center justify-content-center badge bg-primary bg-opacity-50 p-2 rounded-2">
                        cartões
                    </span>
                </div>
            </section>
        </main>
    </article>

    <script src="../../scripts/bootstrap.bundle.min.js"></script>
</body>
</html>