<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tela pedido</title>
  <link rel="stylesheet" href="../../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../../styles/globals.css">
</head>

<body>

  <div class="info vstack py-3 px-4">
    <div class="text-tc-green-dark hstack align-items-center justify-content-between">
      <h2>Pedido N° 88</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0D0A0B"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>

    </div>
    <p class="text-opacity-50">Pedido feito dia 04/07/2022 às 19:35</p>

    <div class="descricao vstack">
      <p><b>Produto:</b> Pizza de calabresa 12 fatias no capricho </p>
      <p><b>Quantidade:</b> 1 </p>
      <p><b>Valor:</b>R$ 40,00</p>
      <p><b>Modo de pagamento:</b> PIX</p>
      <hr>
    </div>

    <section class="dados">
      <h3 class="text-tc-green">Dados do cliente</h3>
      <p><b>Nome:</b> Tiago Rodrigues dos Santos</p>
      <p><b>Email:</b> tiagords127@gmail.com</p>
      <p><b>Cidade:</b> Santa Cruz</p>
      <p><b>Endereço:</b> Rua dos Bobos, N° 0 - bairro das laranjeiras</p>
      <p><b>Telefone:</b> (84) 94002-8922</p>
      <button type="button" class="btn btn-outline-primary">Entrar em contato</button>
    </section>

    <div class="botao py-3">

    </div>

    <div class="vstack gap-3">
      <button type="button" class="btn tr-btn btn-accept">Aceitar pedido</button>
      <button type="button" class="btn btn-refuse">Recusar pedido</button>
    </div>

  </div>

  <script src="../../scripts/bootstrap.bundle.min.js"></script>

</body>

</html>