.dados button {
    background-color: var(--tc-white);
    border-radius: 0.5rem;
    color: var(--tc-green);
    border-color: var(--tc-green);
}

.dados button:hover {
    background-color: var(--tc-green);
    border: none;
}

.btn-accept {
    background-color: var(--tc-green) !important;
    border-radius: 0.5rem;
    text-align: center;
    color: var(--tc-white);
    max-width: 40rem;
    align-self: center;
    width: 100%;
}

.btn-refuse {
    color: var(--tc-red);
    text-align: center;
}