:root {
    --tr-black: #0D0A0B;
    --tr-green: #72B01D;
    --tr-green-dark: #4F7914;
    --tr-white: #FCFFFC;
    --tr-grey: #f7f7f7;
    --tr-light-text: rgba(13, 10, 11, 0.5);
    --tr-red: #F25F5C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;

    background-color: var(--tr-white);
    color: var(--tr-black);
}

.bg-grey {
    background-color: var(--tr-grey);
}

.tr-btn {
    background-color: var(--tr-green) !important;
    color: var(--tr-white) !important;
    border: 0 !important;
    transition: 200ms !important;
}

.tr-btn:hover {
    filter: brightness(0.9) !important;
}

.tr-input {
    background-color: var(--tr-white) !important;
}

.tr-input:focus {
    border: solid 1px var(--tr-green) !important;
    box-shadow: none !important;
}

.tr-input::placeholder {
    color: var(--tr-light-text) !important;
}

header {
    background-color: var(--tr-green);
}

h1 {
    color: var(--tr-white);
}

.search button {
    background-color: var(--tr-green-dark) !important;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.search input {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.filter svg {
    stroke: var(--tr-black);
}
.pedido{
    color: var(--tr-green-dark);
}
.info p{
    color: var(--tr-black);
    font-size: small;
}
.dados button{
    background-color: var(--tr-white);
    border-radius: 0.5rem;
    color: var(--tr-green);
    border-color: var(--tr-green);
}

.dados button:hover{
    background-color: var(--tr-green);
    border: none;
}

.btn-accept{
    background-color: var(--tr-green) !important;
    border-radius: 0.5rem;
    text-align: center;
    color: var(--tr-white);
    max-width: 40rem;
    align-self: center;
    width: 100%;
}
.btn-refuse{
    color: var(--tr-red);
    text-align: center;
}
.dados h3{
    color: var(--tr-green);
}

.card-container {
    width: 100%;
    max-width: 20rem;
}

.card-price {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: var(--tr-green-dark) !important;
}

.card-container img {
    max-width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.badge {
    width: 4rem;
}
nav{
    color: var(--tr-white);
}
.search-container{
    max-width: 35%;
}
.logo h1{
font-size: 3rem;
}
