:root {
    --tc-black: #0D0A0B;
    --tc-green: #72B01D;
    --tc-green-dark: #4F7914;
    --tc-white: #FCFFFC;
    --tc-gray: #f7f7f7;
    --tc-gray-light: rgba(13, 10, 11, 0.35);
    --tc-red: #F25F5C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    width: 100vw;
    height: 100vh;

    background-color: var(--tc-white);
    color: var(--tc-black);
}

.bg-tc-black {
    background-color: var(--tc-black) !important;
}

.bg-tc-gray {
    background-color: var(--tc-gray) !important;
}

.bg-tc-green {
    background-color: var(--tc-green) !important;
}

.bg-tc-green-dark {
    background-color: var(--tc-green-dark) !important;
}

.bg-tc-white {
    background-color: var(--tc-white) !important;
}

.bg-tc-gray-ligth {
    background-color: var(--tc-gray-ligth) !important;
}

.bg-tc-red {
    background-color: var(--tc-red) !important;
}

.text-tc-black {
    color: var(--tc-black) !important;
}

.text-tc-gray {
    color: var(--tc-gray) !important;
}

.text-tc-green {
    color: var(--tc-green) !important;
}

.text-tc-green-dark {
    color: var(--tc-green-dark) !important;
}

.text-tc-white {
    color: var(--tc-white) !important;
}

.text-tc-gray-ligth {
    color: var(--tc-gray-ligth) !important;
}

.text-tc-red {
    color: var(--tc-red) !important;
}

.tc-btn {
    background-color: var(--tc-green) !important;
    color: var(--tc-white) !important;
    border: 0 !important;
    transition: 200ms !important;
}

.tc-btn:hover {
    filter: brightness(0.9) !important;
}

.tc-btn-outline-green {
    border: 2px solid var(--tc-green);
    color: var(--tc-green);
}

.tc-btn-outline-green:hover,
.tc-btn-outline-green:focus,
.tc-btn-outline-green:active {
    border: 2px solid var(--tc-green);
    background-color: var(--tc-green);
    color: var(--tc-white);
}

.tc-btn-outline-green:focus,
.tc-btn:focus {
    box-shadow: 0 0 0 .25rem rgba(114, 176, 29, .5);
}

.tc-btn-outline-red {
    border: 2px solid var(--tc-red);
    color: var(--tc-red);
}

.tc-btn-outline-red:hover,
.tc-btn-outline-red:focus,
.tc-btn-outline-red:active {
    border: 2px solid var(--tc-red);
    background-color: var(--tc-red);
    color: var(--tc-white);
}

.tc-btn-outline-red:focus {
    box-shadow: 0 0 0 .25rem rgba(242, 95, 92, .5);
}

input:focus {
    border: solid 1px var(--tc-green) !important;
    box-shadow: none !important;
}

input::placeholder {
    color: var(--tc-light-text) !important;
}

.filter svg {
    stroke: var(--tc-black);
}